In [1]:
#General DS Imports
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import statsmodels.api as sm
import scipy.stats as stats

# working with dates
from datetime import datetime
# to evaluated performance using rmse
from sklearn.metrics import mean_squared_error
from math import sqrt 
# holt's linear trend model. 
from statsmodels.tsa.api import Holt, ExponentialSmoothing

#My imports
import model as m
import wrangle as w
#warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
#Import our data from a .csv file, take a peek
df = w.get_clean_data()
df.head()

,incident_number,offense_code,offense_code_group,offense_description,district,reporting_area,shooting,occurred_on_date,year,month,day_of_week,hour,ucr_part,street,lat,long,location
0,I192068249,2647,other,threats to do bodily harm,B2,280,0,2015-08-28 10:20:00,2015,8,Friday,10,Part Two,WASHINGTON ST,42.330119,-71.084251,"(42.33011862, -71.08425106)"
1,I192061894,1106,confidence games,fraud - credit card / atm fraud,C11,356,0,2015-08-20 00:00:00,2015,8,Thursday,0,Part Two,CHARLES ST,42.300605,-71.061268,"(42.30060543, -71.06126785)"
2,I192038828,1107,fraud,fraud - impersonation,A1,172,0,2015-11-02 12:24:00,2015,11,Monday,12,Part Two,ALBANY ST,42.334288,-71.072395,"(42.33428841, -71.07239518)"
3,I192008877,1107,fraud,fraud - impersonation,E18,525,0,2015-07-31 10:00:00,2015,7,Friday,10,Part Two,WINGATE RD,42.237009,-71.129566,"(42.23700950, -71.12956606)"
4,I182090828,1102,fraud,fraud - false pretense / scheme,D4,159,0,2015-12-01 12:00:00,2015,12,Tuesday,12,Part Two,UPTON ST,42.342432,-71.072258,"(42.34243222, -71.07225766)"

### This dataframe, combined from Boston Crime data from 2015 to present, contains approximately 650,000 rows. Cleaning and imputing removed all null values except a small percentage within location data (3.5 percent). I elected to keep these nulls, and re-evaluate for future projects using this data

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 652418 entries, 0 to 652417
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   incident_number      652418 non-null  object
 1   offense_code         652418 non-null  int64
 2   offense_code_group   652418 non-null  object
 3   offense_description  652418 non-null  object
 4   district             648116 non-null  object
 5   reporting_area       652418 non-null  object
 6   shooting             652418 non-null  int64
 7   occurred_on_date     652418 non-null  object
 8   year                 652418 non-null  int64
 9   month                652418 non-null  int64
 10  day_of_week          652418 non-null  object
 11  hour                 652418 non-null  int64
 12  ucr_part             652418 non-null  object
 13  street               640529 non-null  object
 14  lat                  629888 non-null  float64
 15  long                 629888 non-null  float64
 16  location             652418 non-null  object
dtypes: float64(2), int64(5), object(10)
memory usage: 89.6+ MB