In [1]:
#General DS Imports
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
%matplotlib inline

# working with dates
from datetime import datetime


#My imports
#warnings

In [2]:
# #get my data from csv files
# df2015 = pd.read_csv("crime-incident-reports-2015.csv")
# df2016 = pd.read_csv("crime-incident-reports-2016.csv")
# df2017 = pd.read_csv("crime-incident-reports-2017.csv")
# df2018 = pd.read_csv("crime-incident-reports-2018.csv")
# df2019 = pd.read_csv("crime-incident-reports-2019.csv")
# df2020 = pd.read_csv("crime-incident-reports-2020.csv")
# df2021 = pd.read_csv("crime-incident-reports-2021.csv")
# df2022 = pd.read_csv("crime-incident-reports-2022.csv")

In [3]:
# #Looking at the data by year
# df2015.info(), df2016.info(), df2017.info(), df2018.info(), df2019.info(), df2020.info(), df2021.info()

In [4]:
# # # Forming a table from DFs
# table = []
# table.append(df2015)
# table.append(df2016)
# table.append(df2017)
# table.append(df2018)
# table.append(df2019)
# table.append(df2020)
# table.append(df2021)
# table.append(df2022)

In [5]:
# # #Combine all tables, ignore index
# df = pd.concat(table, ignore_index=True)

In [6]:
# #Save data as combined csv
# df.to_csv('boston_crime.csv')

In [7]:
#Get CSV from file
df = pd.read_csv('boston_crime.csv', index_col=0)

/var/folders/vw/1h05rsrx3wbc05jyk4c2bl680000gn/T/ipykernel_10158/781030722.py:2: DtypeWarning: Columns (1,3,7,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('boston_crime.csv', index_col=0)

In [8]:
#Peeking at 2022 data
#df2022.info()

In [9]:
#Looking at it all combined
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 652418 entries, 0 to 652417
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   INCIDENT_NUMBER      652418 non-null  object
 1   OFFENSE_CODE         652418 non-null  int64
 2   OFFENSE_CODE_GROUP   353253 non-null  object
 3   OFFENSE_DESCRIPTION  652418 non-null  object
 4   DISTRICT             648116 non-null  object
 5   REPORTING_AREA       652418 non-null  object
 6   SHOOTING             300620 non-null  object
 7   OCCURRED_ON_DATE     652418 non-null  object
 8   YEAR                 652418 non-null  int64
 9   MONTH                652418 non-null  int64
 10  DAY_OF_WEEK          652418 non-null  object
 11  HOUR                 652418 non-null  int64
 12  UCR_PART             353156 non-null  object
 13  STREET               640530 non-null  object
 14  Lat                  629888 non-null  float64
 15  Long                 629888 non-null  float64
 16  Location             652418 non-null  object
dtypes: float64(2), int64(4), object(11)
memory usage: 89.6+ MB

In [10]:
#Peeking at the data
df.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I192068249,2647,Other,THREATS TO DO BODILY HARM,B2,280,NaN,2015-08-28 10:20:00,2015,8,Friday,10,Part Two,WASHINGTON ST,42.330119,-71.084251,"(42.33011862, -71.08425106)"
1,I192061894,1106,Confidence Games,FRAUD - CREDIT CARD / ATM FRAUD,C11,356,NaN,2015-08-20 00:00:00,2015,8,Thursday,0,Part Two,CHARLES ST,42.300605,-71.061268,"(42.30060543, -71.06126785)"
2,I192038828,1107,Fraud,FRAUD - IMPERSONATION,A1,172,NaN,2015-11-02 12:24:00,2015,11,Monday,12,Part Two,ALBANY ST,42.334288,-71.072395,"(42.33428841, -71.07239518)"
3,I192008877,1107,Fraud,FRAUD - IMPERSONATION,E18,525,NaN,2015-07-31 10:00:00,2015,7,Friday,10,Part Two,WINGATE RD,42.237009,-71.129566,"(42.23700950, -71.12956606)"
4,I182090828,1102,Fraud,FRAUD - FALSE PRETENSE / SCHEME,D4,159,NaN,2015-12-01 12:00:00,2015,12,Tuesday,12,Part Two,UPTON ST,42.342432,-71.072258,"(42.34243222, -71.07225766)"

In [11]:
#Rename columns to remove capital letters
#df['INCIDENT_NUMBER'] = df['INCIDENT_NUMBER'].str.lower()
df.columns = df.columns.str.lower()

In [12]:
df.head()

,incident_number,offense_code,offense_code_group,offense_description,district,reporting_area,shooting,occurred_on_date,year,month,day_of_week,hour,ucr_part,street,lat,long,location
0,I192068249,2647,Other,THREATS TO DO BODILY HARM,B2,280,NaN,2015-08-28 10:20:00,2015,8,Friday,10,Part Two,WASHINGTON ST,42.330119,-71.084251,"(42.33011862, -71.08425106)"
1,I192061894,1106,Confidence Games,FRAUD - CREDIT CARD / ATM FRAUD,C11,356,NaN,2015-08-20 00:00:00,2015,8,Thursday,0,Part Two,CHARLES ST,42.300605,-71.061268,"(42.30060543, -71.06126785)"
2,I192038828,1107,Fraud,FRAUD - IMPERSONATION,A1,172,NaN,2015-11-02 12:24:00,2015,11,Monday,12,Part Two,ALBANY ST,42.334288,-71.072395,"(42.33428841, -71.07239518)"
3,I192008877,1107,Fraud,FRAUD - IMPERSONATION,E18,525,NaN,2015-07-31 10:00:00,2015,7,Friday,10,Part Two,WINGATE RD,42.237009,-71.129566,"(42.23700950, -71.12956606)"
4,I182090828,1102,Fraud,FRAUD - FALSE PRETENSE / SCHEME,D4,159,NaN,2015-12-01 12:00:00,2015,12,Tuesday,12,Part Two,UPTON ST,42.342432,-71.072258,"(42.34243222, -71.07225766)"

In [13]:
df.shooting.value_counts()

0    288486
0      7133
1      3484
Y      1455
1        62
Name: shooting, dtype: int64

In [14]:
#Look at columns with mixed data types
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 652418 entries, 0 to 652417
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   incident_number      652418 non-null  object
 1   offense_code         652418 non-null  int64
 2   offense_code_group   353253 non-null  object
 3   offense_description  652418 non-null  object
 4   district             648116 non-null  object
 5   reporting_area       652418 non-null  object
 6   shooting             300620 non-null  object
 7   occurred_on_date     652418 non-null  object
 8   year                 652418 non-null  int64
 9   month                652418 non-null  int64
 10  day_of_week          652418 non-null  object
 11  hour                 652418 non-null  int64
 12  ucr_part             353156 non-null  object
 13  street               640530 non-null  object
 14  lat                  629888 non-null  float64
 15  long                 629888 non-null  float64
 16  location             652418 non-null  object
dtypes: float64(2), int64(4), object(11)
memory usage: 89.6+ MB

In [15]:
#Looking at Mixed Dtype colums 1, 3, 7, 13
df.offense_code.dtypes

dtype('int64')

In [16]:
#Looking at 7 Occured on date, see if there are nulls
df.isnull().sum()
#The most nulls are in shooting, which we can input with zero (could be incorrect but theres no data)

incident_number             0
offense_code                0
offense_code_group     299165
offense_description         0
district                 4302
reporting_area              0
shooting               351798
occurred_on_date            0
year                        0
month                       0
day_of_week                 0
hour                        0
ucr_part               299262
street                  11888
lat                     22530
long                    22530
location                    0
dtype: int64

In [17]:
#see nulls in shooting where offense code is homicide
len(df[(df.shooting.isnull()) & (df.offense_code == 111)])

45

In [18]:
#Let's replace white space and empty cells with nan values
# Replace a whitespace sequence or empty with a NaN value and reassign this manipulation to df.

df = df.replace(r'^\s*$', np.nan, regex=True)

In [19]:
#Checking offense code group to see what to do with the nulls
df.offense_code_group.value_counts()

Motor Vehicle Accident Response              41064
Larceny                                      28906
Medical Assistance                           26211
Investigate Person                           20420
Other                                        19860
                                             ...
HUMAN TRAFFICKING                                8
INVESTIGATE PERSON                               5
Burglary - No Property Taken                     5
HUMAN TRAFFICKING - INVOLUNTARY SERVITUDE        2
Biological Threat                                2
Name: offense_code_group, Length: 67, dtype: int64

In [20]:
df[df.offense_code_group.isna()]
#df[df.offense_code_group.isnull()]
#Lets replace with unknown for Nan

,incident_number,offense_code,offense_code_group,offense_description,district,reporting_area,shooting,occurred_on_date,year,month,day_of_week,hour,ucr_part,street,lat,long,location
353253,102091671,2647,NaN,THREATS TO DO BODILY HARM,B3,417,0,2019-11-12 12:00:00,2019,11,Tuesday,12,NaN,MORA ST,42.282082,-71.073649,"(42.28208197671972, -71.07364874515646)"
353254,102095489,3115,NaN,INVESTIGATE PERSON,E18,520,0,2019-11-25 16:30:00,2019,11,Monday,16,NaN,POYDRAS ST,42.256216,-71.124019,"(42.256215920402155, -71.12401947329023)"
353255,102096818,2905,NaN,VAL - VIOLATION OF AUTO LAW,A1,NaN,0,2019-11-30 21:00:00,2019,11,Saturday,21,NaN,SUDBURY ST & CAMBRIDGE ST\nBOSTON MA 02108\nU...,42.360866,-71.061316,"(42.360866027118476, -71.0613160019785)"
353256,129092894,3201,NaN,PROPERTY - LOST/ MISSING,NaN,503,0,2019-11-16 13:30:00,2019,11,Saturday,13,NaN,AMERICAN LEGION HWY,42.284467,-71.111831,"(42.28446742674232, -71.11183088758158)"
353257,129099920,3301,NaN,VERBAL DISPUTE,B2,330,0,2019-12-12 07:50:00,2019,12,Thursday,7,NaN,COLUMBIA ROAD,0.000000,0.000000,"(0, 0)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
652413,149210376,3110,NaN,SERVICE TO OTHER AGENCY,B2,NaN,0,2022-01-02 00:00:00,2022,1,Sunday,0,NaN,WASHINGTON ST & ROXBURY ST\nBOSTON MA 02119\n...,42.329600,-71.084620,"(42.32959998129787, -71.08462000476281)"
652414,122056850,3801,NaN,M/V ACCIDENT - OTHER,D4,271,0,2022-07-28 19:40:00,2022,7,Thursday,19,NaN,MASSACHUSETTS AVE & HARRISON AVE\nBOSTON MA 0...,42.334910,-71.075170,"(42.334909956083834, -71.07517004893332)"
652415,122004001,3115,NaN,INVESTIGATE PERSON,E13,912,0,2022-01-19 09:30:00,2022,1,Wednesday,9,NaN,HEATH ST,42.325131,-71.099408,"(42.32513050637361, -71.09940814578592)"
652416,111077848,3115,NaN,INVESTIGATE PERSON,E5,691,0,2022-10-09 00:00:00,2022,10,Sunday,0,NaN,CENTRE ST,42.287094,-71.148221,"(42.28709355259107, -71.14822128377165)"
652417,22031068,3114,NaN,INVESTIGATE PROPERTY,C11,249,0,2022-05-02 08:00:00,2022,5,Monday,8,NaN,SAXTON ST,42.313591,-71.054324,"(42.31359091105722, -71.05432387045848)"

In [21]:
#Replace NaN values in offense code group with unknown
df['offense_code_group'].fillna("unknown", inplace=True)

In [22]:
df[df.offense_code_group == 'unknown']

,incident_number,offense_code,offense_code_group,offense_description,district,reporting_area,shooting,occurred_on_date,year,month,day_of_week,hour,ucr_part,street,lat,long,location
353253,102091671,2647,unknown,THREATS TO DO BODILY HARM,B3,417,0,2019-11-12 12:00:00,2019,11,Tuesday,12,NaN,MORA ST,42.282082,-71.073649,"(42.28208197671972, -71.07364874515646)"
353254,102095489,3115,unknown,INVESTIGATE PERSON,E18,520,0,2019-11-25 16:30:00,2019,11,Monday,16,NaN,POYDRAS ST,42.256216,-71.124019,"(42.256215920402155, -71.12401947329023)"
353255,102096818,2905,unknown,VAL - VIOLATION OF AUTO LAW,A1,NaN,0,2019-11-30 21:00:00,2019,11,Saturday,21,NaN,SUDBURY ST & CAMBRIDGE ST\nBOSTON MA 02108\nU...,42.360866,-71.061316,"(42.360866027118476, -71.0613160019785)"
353256,129092894,3201,unknown,PROPERTY - LOST/ MISSING,NaN,503,0,2019-11-16 13:30:00,2019,11,Saturday,13,NaN,AMERICAN LEGION HWY,42.284467,-71.111831,"(42.28446742674232, -71.11183088758158)"
353257,129099920,3301,unknown,VERBAL DISPUTE,B2,330,0,2019-12-12 07:50:00,2019,12,Thursday,7,NaN,COLUMBIA ROAD,0.000000,0.000000,"(0, 0)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
652413,149210376,3110,unknown,SERVICE TO OTHER AGENCY,B2,NaN,0,2022-01-02 00:00:00,2022,1,Sunday,0,NaN,WASHINGTON ST & ROXBURY ST\nBOSTON MA 02119\n...,42.329600,-71.084620,"(42.32959998129787, -71.08462000476281)"
652414,122056850,3801,unknown,M/V ACCIDENT - OTHER,D4,271,0,2022-07-28 19:40:00,2022,7,Thursday,19,NaN,MASSACHUSETTS AVE & HARRISON AVE\nBOSTON MA 0...,42.334910,-71.075170,"(42.334909956083834, -71.07517004893332)"
652415,122004001,3115,unknown,INVESTIGATE PERSON,E13,912,0,2022-01-19 09:30:00,2022,1,Wednesday,9,NaN,HEATH ST,42.325131,-71.099408,"(42.32513050637361, -71.09940814578592)"
652416,111077848,3115,unknown,INVESTIGATE PERSON,E5,691,0,2022-10-09 00:00:00,2022,10,Sunday,0,NaN,CENTRE ST,42.287094,-71.148221,"(42.28709355259107, -71.14822128377165)"
652417,22031068,3114,unknown,INVESTIGATE PROPERTY,C11,249,0,2022-05-02 08:00:00,2022,5,Monday,8,NaN,SAXTON ST,42.313591,-71.054324,"(42.31359091105722, -71.05432387045848)"

In [23]:
#Let's look at shooting data, deal with the nulls

In [24]:
df.shooting.value_counts()

0    288486
0      7133
1      3484
Y      1455
1        62
Name: shooting, dtype: int64

In [25]:
#Changing Y in shooting to 1(Yes)
df.loc[df["shooting"] == "Y", "shooting"] = 1

In [26]:
df.shooting.value_counts()

0    288486
0      7133
1      4939
1        62
Name: shooting, dtype: int64

In [27]:
#Replace Nan Values in shooting with zeroes
df['shooting'].fillna(0, inplace=True)

In [28]:
#Check for nulls, none are left
df.shooting.isnull().sum()

0

In [29]:
#why are there multiple zeroes and ones in my column? Let me recast the column data type as integer
df['shooting'] = df['shooting'].astype(int)
print(df.shooting.dtypes)

int64

In [30]:
df.shooting.value_counts()

0    647417
1      5001
Name: shooting, dtype: int64

In [31]:
#Looks good to me

In [32]:
#Going back to missing values
df.isnull().sum()

incident_number             0
offense_code                0
offense_code_group          0
offense_description         0
district                 4302
reporting_area          97865
shooting                    0
occurred_on_date            0
year                        0
month                       0
day_of_week                 0
hour                        0
ucr_part               299262
street                  11889
lat                     22530
long                    22530
location                    0
dtype: int64

In [33]:
#UCR Part has alot of null values, lets check it out

In [34]:
df.ucr_part.value_counts()

Part Three    176042
Part Two      107656
Part One       68068
Other           1390
Name: ucr_part, dtype: int64

In [35]:
#Lets fill nulls here with unknown, its not going to be important to my analysis
#Replace NaN values in ucr part with unknown
df['ucr_part'].fillna("unknown", inplace=True)

In [36]:
#No more nulls
df.ucr_part.isnull().sum(), df.ucr_part.value_counts()

(0,
 unknown       299262
 Part Three    176042
 Part Two      107656
 Part One       68068
 Other           1390
 Name: ucr_part, dtype: int64)

In [37]:
#Going back and looking at nulls
df.isnull().sum()

incident_number            0
offense_code               0
offense_code_group         0
offense_description        0
district                4302
reporting_area         97865
shooting                   0
occurred_on_date           0
year                       0
month                      0
day_of_week                0
hour                       0
ucr_part                   0
street                 11889
lat                    22530
long                   22530
location                   0
dtype: int64

In [38]:
#Lets check reporting area
df.reporting_area.value_counts()

355    9946
465    7698
167    7013
282    6409
77     6368
       ...
000      17
190      10
950       2
218       1
666       1
Name: reporting_area, Length: 880, dtype: int64

In [39]:
#Going to fill NaN with zeroes for reporting area, which represents where a crime is reported from
df['reporting_area'].fillna(0, inplace=True)

In [40]:
#No more nulls
df.reporting_area.isnull().sum()

0

In [41]:
df.isnull().sum()

incident_number            0
offense_code               0
offense_code_group         0
offense_description        0
district                4302
reporting_area             0
shooting                   0
occurred_on_date           0
year                       0
month                      0
day_of_week                0
hour                       0
ucr_part                   0
street                 11889
lat                    22530
long                   22530
location                   0
dtype: int64

In [42]:
len(df)

652418

In [43]:
#Number of unique incidents in this data
df.incident_number.nunique()

610345

#### 93.55 percent of the data involve unique incidents, but lets look at incidents with multiple rows

In [44]:
#It's an object
df.incident_number.dtypes

dtype('O')

In [45]:
#find duplicate rows across all columns
duplicateRows = df[df.duplicated()]
duplicateRows

,incident_number,offense_code,offense_code_group,offense_description,district,reporting_area,shooting,occurred_on_date,year,month,day_of_week,hour,ucr_part,street,lat,long,location
1250,I152107190,413,Aggravated Assault,ASSAULT - AGGRAVATED - BATTERY,B3,427,1,2015-12-29 08:47:00,2015,12,Tuesday,8,Part One,WILMORE ST,42.277964,-71.092463,"(42.27796370, -71.09246318)"
1252,I152107190,111,Homicide,"MURDER, NON-NEGLIGIENT MANSLAUGHTER",B3,427,1,2015-12-29 08:47:00,2015,12,Tuesday,8,Part One,WILMORE ST,42.277964,-71.092463,"(42.27796370, -71.09246318)"
1254,I152107190,3125,Warrant Arrests,WARRANT ARREST,B3,427,1,2015-12-29 08:47:00,2015,12,Tuesday,8,Part Three,WILMORE ST,42.277964,-71.092463,"(42.27796370, -71.09246318)"
1256,I152107190,1501,Firearm Violations,"WEAPON - FIREARM - CARRYING / POSSESSING, ETC",B3,427,1,2015-12-29 08:47:00,2015,12,Tuesday,8,Part Two,WILMORE ST,42.277964,-71.092463,"(42.27796370, -71.09246318)"
2438,I152105851,413,Aggravated Assault,ASSAULT - AGGRAVATED - BATTERY,E13,302,1,2015-12-23 15:39:00,2015,12,Wednesday,15,Part One,CENTRE ST,42.322838,-71.100967,"(42.32283759, -71.10096723)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353245,I070720870-00,3125,Warrant Arrests,WARRANT ARREST,B2,318,0,2018-12-13 00:00:00,2018,12,Thursday,0,Part Three,BROOKLEDGE ST,42.309563,-71.089902,"(42.30956305, -71.08990197)"
353246,I070720870-00,3125,Warrant Arrests,WARRANT ARREST,B2,318,0,2018-12-13 00:00:00,2018,12,Thursday,0,Part Three,BROOKLEDGE ST,42.309563,-71.089902,"(42.30956305, -71.08990197)"
353248,I070720870-00,802,Simple Assault,ASSAULT & BATTERY,B2,318,0,2018-12-13 00:00:00,2018,12,Thursday,0,Part Two,BROOKLEDGE ST,42.309563,-71.089902,"(42.30956305, -71.08990197)"
353249,I070720870-00,3125,Warrant Arrests,WARRANT ARREST,B2,318,0,2018-12-13 00:00:00,2018,12,Thursday,0,Part Three,BROOKLEDGE ST,42.309563,-71.089902,"(42.30956305, -71.08990197)"
353251,I060168073-00,1864,Drug Violation,DRUGS - POSS CLASS D - INTENT MFR DIST DISP,E13,912,0,2018-01-27 14:01:00,2018,1,Saturday,14,Part Two,CENTRE ST,42.322838,-71.100967,"(42.32283759, -71.10096723)"

In [46]:
#643 rows with supposedly duplicated data
df.duplicated().sum()

643

In [47]:
#Lets check some of them and see whats going on (11 instances)
df[(df['incident_number'] == 'I070720870-00')]

,incident_number,offense_code,offense_code_group,offense_description,district,reporting_area,shooting,occurred_on_date,year,month,day_of_week,hour,ucr_part,street,lat,long,location
353239,I070720870-00,637,Larceny,LARCENY IN A BUILDING UNDER $50,B2,318,0,2018-12-13 00:00:00,2018,12,Thursday,0,Part One,BROOKLEDGE ST,42.309563,-71.089902,"(42.30956305, -71.08990197)"
353240,I070720870-00,637,Larceny,LARCENY IN A BUILDING UNDER $50,B2,318,0,2018-12-13 00:00:00,2018,12,Thursday,0,Part One,BROOKLEDGE ST,42.309563,-71.089902,"(42.30956305, -71.08990197)"
353241,I070720870-00,637,Larceny,LARCENY IN A BUILDING UNDER $50,B2,318,0,2018-12-13 00:00:00,2018,12,Thursday,0,Part One,BROOKLEDGE ST,42.309563,-71.089902,"(42.30956305, -71.08990197)"
353242,I070720870-00,3125,Warrant Arrests,WARRANT ARREST,B2,318,0,2018-12-13 00:00:00,2018,12,Thursday,0,Part Three,BROOKLEDGE ST,42.309563,-71.089902,"(42.30956305, -71.08990197)"
353243,I070720870-00,3125,Warrant Arrests,WARRANT ARREST,B2,318,0,2018-12-13 00:00:00,2018,12,Thursday,0,Part Three,BROOKLEDGE ST,42.309563,-71.089902,"(42.30956305, -71.08990197)"
353244,I070720870-00,3125,Warrant Arrests,WARRANT ARREST,B2,318,0,2018-12-13 00:00:00,2018,12,Thursday,0,Part Three,BROOKLEDGE ST,42.309563,-71.089902,"(42.30956305, -71.08990197)"
353245,I070720870-00,3125,Warrant Arrests,WARRANT ARREST,B2,318,0,2018-12-13 00:00:00,2018,12,Thursday,0,Part Three,BROOKLEDGE ST,42.309563,-71.089902,"(42.30956305, -71.08990197)"
353246,I070720870-00,3125,Warrant Arrests,WARRANT ARREST,B2,318,0,2018-12-13 00:00:00,2018,12,Thursday,0,Part Three,BROOKLEDGE ST,42.309563,-71.089902,"(42.30956305, -71.08990197)"
353247,I070720870-00,802,Simple Assault,ASSAULT & BATTERY,B2,318,0,2018-12-13 00:00:00,2018,12,Thursday,0,Part Two,BROOKLEDGE ST,42.309563,-71.089902,"(42.30956305, -71.08990197)"
353248,I070720870-00,802,Simple Assault,ASSAULT & BATTERY,B2,318,0,2018-12-13 00:00:00,2018,12,Thursday,0,Part Two,BROOKLEDGE ST,42.309563,-71.089902,"(42.30956305, -71.08990197)"
353249,I070720870-00,3125,Warrant Arrests,WARRANT ARREST,B2,318,0,2018-12-13 00:00:00,2018,12,Thursday,0,Part Three,BROOKLEDGE ST,42.309563,-71.089902,"(42.30956305, -71.08990197)"

In [48]:
#Lets deal with nulls in incident number
df.incident_number.isna()

0         False
1         False
2         False
3         False
4         False
          ...
652413    False
652414    False
652415    False
652416    False
652417    False
Name: incident_number, Length: 652418, dtype: bool

#### Looking at these rows, there's no way to know if they are errors or real values. Its likely they are one incident with multiple arrests, so therefore I choose to keep them. There's no way to know if we have a bigger error in the collection of these statistics--i.e. this data was collected BETTER than all others

In [49]:
#Going back to looking at nulls
df.isnull().sum()

incident_number            0
offense_code               0
offense_code_group         0
offense_description        0
district                4302
reporting_area             0
shooting                   0
occurred_on_date           0
year                       0
month                      0
day_of_week                0
hour                       0
ucr_part                   0
street                 11889
lat                    22530
long                   22530
location                   0
dtype: int64

In [50]:
# lets look at street
df.street.value_counts()

WASHINGTON ST                                           34091
BLUE HILL AVE                                           16275
BOYLSTON ST                                             12590
HARRISON AVE                                            11475
CENTRE ST                                               10055
                                                        ...
295 OLD COLONY AVE\nSOUTH BOSTON  MA 02127\nUNITED S        1
DOT AVE                                                     1
BLUE HILL AVENUE & HAVELOCK ST\nBOSTON  MA 02124\nUN        1
241 MARKET ST\nBOSTON  MA 02135\nUNITED STATES              1
HARRISON AVENUE / MELNEA CASS BLVD                          1
Name: street, Length: 16835, dtype: int64

In [51]:
df[df.street.isnull()]
#Some streets that are null have gps data, I wonder if I could use that. Others have all location data missing--I
#think we should drop those that have nulls in all location fields

,incident_number,offense_code,offense_code_group,offense_description,district,reporting_area,shooting,occurred_on_date,year,month,day_of_week,hour,ucr_part,street,lat,long,location
166,I162041845,3201,Property Lost,PROPERTY - LOST,D4,0,0,2015-09-01 12:00:00,2015,9,Tuesday,12,Part Three,NaN,NaN,NaN,"(0.00000000, 0.00000000)"
217,I162024760,3018,Medical Assistance,SICK/INJURED/MEDICAL - POLICE,D4,0,0,2015-09-28 14:41:00,2015,9,Monday,14,Part Three,NaN,NaN,NaN,"(0.00000000, 0.00000000)"
380,I162005633,3201,Property Lost,PROPERTY - LOST,D4,0,0,2015-11-15 22:00:00,2015,11,Sunday,22,Part Three,NaN,NaN,NaN,"(0.00000000, 0.00000000)"
441,I162003177,413,Aggravated Assault,ASSAULT - AGGRAVATED - BATTERY,D4,0,0,2015-12-28 17:55:00,2015,12,Monday,17,Part One,NaN,NaN,NaN,"(0.00000000, 0.00000000)"
537,I162001010,3831,Motor Vehicle Accident Response,M/V - LEAVING SCENE - PROPERTY DAMAGE,C11,0,0,2015-12-31 18:30:00,2015,12,Thursday,18,Part Three,NaN,NaN,NaN,"(0.00000000, 0.00000000)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561516,212028147,3831,unknown,M/V - LEAVING SCENE - PROPERTY DAMAGE,B2,0,0,2021-05-01 08:24:00,2021,5,Saturday,8,unknown,NaN,42.327987,-71.099354,"(42.32798700396488, -71.09935402988641)"
561529,212028130,3006,unknown,SICK/INJURED/MEDICAL - PERSON,A1,111,0,2021-05-01 03:00:00,2021,5,Saturday,3,unknown,NaN,42.352370,-71.062600,"(42.352370011853225, -71.06259996388145)"
561532,212028127,3802,unknown,M/V ACCIDENT - PROPERTY DAMAGE,B2,320,0,2021-05-01 02:33:00,2021,5,Saturday,2,unknown,NaN,42.308468,-71.083277,"(42.30846803058291, -71.08327694723572)"
582626,210209890,3115,unknown,INVESTIGATE PERSON,A1,162,0,2021-05-14 10:00:00,2021,5,Friday,10,unknown,NaN,42.347321,-71.064412,"(42.34732103019411, -71.06441203938374)"
625324,222036082,2619,unknown,FUGITIVE FROM JUSTICE,A1,0,0,2022-05-20 08:39:00,2022,5,Friday,8,unknown,NaN,42.353371,-71.054824,"(42.35337100593008, -71.05482398397082)"

In [52]:
#this looks right
df[df.street.isnull() & df.lat.isnull() & df.long.isnull()]

,incident_number,offense_code,offense_code_group,offense_description,district,reporting_area,shooting,occurred_on_date,year,month,day_of_week,hour,ucr_part,street,lat,long,location
166,I162041845,3201,Property Lost,PROPERTY - LOST,D4,0,0,2015-09-01 12:00:00,2015,9,Tuesday,12,Part Three,NaN,NaN,NaN,"(0.00000000, 0.00000000)"
217,I162024760,3018,Medical Assistance,SICK/INJURED/MEDICAL - POLICE,D4,0,0,2015-09-28 14:41:00,2015,9,Monday,14,Part Three,NaN,NaN,NaN,"(0.00000000, 0.00000000)"
380,I162005633,3201,Property Lost,PROPERTY - LOST,D4,0,0,2015-11-15 22:00:00,2015,11,Sunday,22,Part Three,NaN,NaN,NaN,"(0.00000000, 0.00000000)"
441,I162003177,413,Aggravated Assault,ASSAULT - AGGRAVATED - BATTERY,D4,0,0,2015-12-28 17:55:00,2015,12,Monday,17,Part One,NaN,NaN,NaN,"(0.00000000, 0.00000000)"
537,I162001010,3831,Motor Vehicle Accident Response,M/V - LEAVING SCENE - PROPERTY DAMAGE,C11,0,0,2015-12-31 18:30:00,2015,12,Thursday,18,Part Three,NaN,NaN,NaN,"(0.00000000, 0.00000000)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352726,I182000372,3410,Towed,TOWED MOTOR VEHICLE,C6,0,0,2018-01-02 13:16:00,2018,1,Tuesday,13,Part Three,NaN,NaN,NaN,"(0.00000000, 0.00000000)"
352966,I182000064,3803,Motor Vehicle Accident Response,M/V ACCIDENT - PERSONAL INJURY,B2,0,0,2018-01-01 03:29:00,2018,1,Monday,3,Part Three,NaN,NaN,NaN,"(0.00000000, 0.00000000)"
352967,I182000064,2101,Operating Under the Influence,OPERATING UNDER THE INFLUENCE ALCOHOL,B2,0,0,2018-01-01 03:29:00,2018,1,Monday,3,Part Two,NaN,NaN,NaN,"(0.00000000, 0.00000000)"
353168,I172002908,802,Simple Assault,ASSAULT SIMPLE - BATTERY,A1,0,0,2018-01-16 16:00:00,2018,1,Tuesday,16,Part Two,NaN,NaN,NaN,"(0.00000000, 0.00000000)"
353169,I172002908,3125,Warrant Arrests,WARRANT ARREST,A1,0,0,2018-01-16 16:00:00,2018,1,Tuesday,16,Part Three,NaN,NaN,NaN,"(0.00000000, 0.00000000)"

In [53]:
#Creating a df with the missing street, lat and long values
missing_location = df[df.street.isnull() & df.lat.isnull() & df.long.isnull() & df.district.isnull()]

In [54]:
missing_location
#9246 rows, but since we are focusing on location (perhaps), we can afford to drop these rows with null values.
#May be able to impute location based on street if we have SOME location data (besides district)

,incident_number,offense_code,offense_code_group,offense_description,district,reporting_area,shooting,occurred_on_date,year,month,day_of_week,hour,ucr_part,street,lat,long,location
1798,I152106585,2907,Violations,VAL - OPERATING AFTER REV/SUSP.,NaN,0,0,2015-12-26 20:49:00,2015,12,Saturday,20,Part Two,NaN,NaN,NaN,"(0.00000000, 0.00000000)"
4917,I152103147,619,Larceny,LARCENY ALL OTHERS,NaN,0,0,2015-12-14 13:00:00,2015,12,Monday,13,Part One,NaN,NaN,NaN,"(0.00000000, 0.00000000)"
5492,I152102486,1300,Recovered Stolen Property,STOLEN PROPERTY - BUYING / RECEIVING / POSSESSING,NaN,462,0,2015-12-12 00:37:00,2015,12,Saturday,0,Part Two,NaN,NaN,NaN,"(0.00000000, 0.00000000)"
5493,I152102486,735,Auto Theft Recovery,RECOVERED - MV RECOVERED IN BOSTON (STOLEN OUT...,NaN,462,0,2015-12-12 00:37:00,2015,12,Saturday,0,Other,NaN,NaN,NaN,"(0.00000000, 0.00000000)"
5494,I152102486,2907,Violations,VAL - OPERATING AFTER REV/SUSP.,NaN,462,0,2015-12-12 00:37:00,2015,12,Saturday,0,Part Two,NaN,NaN,NaN,"(0.00000000, 0.00000000)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308438,I182047835,1842,Drug Violation,"DRUGS - POSS CLASS A - HEROIN, ETC.",NaN,0,0,2018-06-19 13:13:00,2018,6,Tuesday,13,Part Two,NaN,NaN,NaN,"(0.00000000, 0.00000000)"
308439,I182047835,1805,Drug Violation,DRUGS - CLASS A TRAFFICKING OVER 18 GRAMS,NaN,0,0,2018-06-19 13:13:00,2018,6,Tuesday,13,Part Two,NaN,NaN,NaN,"(0.00000000, 0.00000000)"
320587,I182034983,3006,Medical Assistance,SICK/INJURED/MEDICAL - PERSON,NaN,0,0,2018-05-08 18:31:00,2018,5,Tuesday,18,Part Three,NaN,NaN,NaN,"(0.00000000, 0.00000000)"
334873,I182018583,1402,Vandalism,VANDALISM,NaN,0,0,2018-03-11 16:10:00,2018,3,Sunday,16,Part Two,NaN,NaN,NaN,"(0.00000000, 0.00000000)"
336373,I182018214,2900,Other,VAL - VIOLATION OF AUTO LAW - OTHER,NaN,0,0,2018-03-10 02:34:00,2018,3,Saturday,2,Part Two,NaN,NaN,NaN,"(0.00000000, 0.00000000)"

In [55]:
#A variation of offenses, these are easy to drop
missing_location.offense_code_group.value_counts()

Motor Vehicle Accident Response    22
Drug Violation                     11
Violations                          7
Harbor Related Incidents            7
Other                               6
Larceny                             5
Medical Assistance                  5
Auto Theft Recovery                 4
Vandalism                           4
Larceny From Motor Vehicle          4
Investigate Person                  3
Simple Assault                      3
Auto Theft                          3
Warrant Arrests                     3
Prostitution                        1
Investigate Property                1
Ballistics                          1
Police Service Incidents            1
Towed                               1
Prisoner Related Incidents          1
Aggravated Assault                  1
Recovered Stolen Property           1
Property Found                      1
Name: offense_code_group, dtype: int64

In [56]:
#Let's leave this here in case we need to drop
#df.drop(missing_location, inplace = True)

In [57]:
#Going back to look at nulls
df.isnull().sum()

incident_number            0
offense_code               0
offense_code_group         0
offense_description        0
district                4302
reporting_area             0
shooting                   0
occurred_on_date           0
year                       0
month                      0
day_of_week                0
hour                       0
ucr_part                   0
street                 11889
lat                    22530
long                   22530
location                   0
dtype: int64

### District, street, lat, long are all related to location. I dont know how to deal with these currently,

In [58]:
#Let's see if we know the date where these lat and longs are missing
missing_lat_long = df[(df.lat.isnull()) & (df.long.isnull())]

In [59]:
missing_lat_long.year.value_counts()

2017    7029
2016    6944
2018    6429
2015    2128
Name: year, dtype: int64

In [60]:
#More missing in 2017, but they are spread over several years. It may impact our forecasting to drop, but it may be better

## Plan for now is to drop all rows with null values, lets see what that data loss looks like

In [61]:
len(df)

652418

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 652418 entries, 0 to 652417
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   incident_number      652418 non-null  object
 1   offense_code         652418 non-null  int64
 2   offense_code_group   652418 non-null  object
 3   offense_description  652418 non-null  object
 4   district             648116 non-null  object
 5   reporting_area       652418 non-null  object
 6   shooting             652418 non-null  int64
 7   occurred_on_date     652418 non-null  object
 8   year                 652418 non-null  int64
 9   month                652418 non-null  int64
 10  day_of_week          652418 non-null  object
 11  hour                 652418 non-null  int64
 12  ucr_part             652418 non-null  object
 13  street               640529 non-null  object
 14  lat                  629888 non-null  float64
 15  long                 629888 non-null  float64
 16  location             652418 non-null  object
dtypes: float64(2), int64(5), object(10)
memory usage: 89.6+ MB

In [63]:
df.isnull().sum()

incident_number            0
offense_code               0
offense_code_group         0
offense_description        0
district                4302
reporting_area             0
shooting                   0
occurred_on_date           0
year                       0
month                      0
day_of_week                0
hour                       0
ucr_part                   0
street                 11889
lat                    22530
long                   22530
location                   0
dtype: int64

In [64]:
df[df.street.isnull()]

,incident_number,offense_code,offense_code_group,offense_description,district,reporting_area,shooting,occurred_on_date,year,month,day_of_week,hour,ucr_part,street,lat,long,location
166,I162041845,3201,Property Lost,PROPERTY - LOST,D4,0,0,2015-09-01 12:00:00,2015,9,Tuesday,12,Part Three,NaN,NaN,NaN,"(0.00000000, 0.00000000)"
217,I162024760,3018,Medical Assistance,SICK/INJURED/MEDICAL - POLICE,D4,0,0,2015-09-28 14:41:00,2015,9,Monday,14,Part Three,NaN,NaN,NaN,"(0.00000000, 0.00000000)"
380,I162005633,3201,Property Lost,PROPERTY - LOST,D4,0,0,2015-11-15 22:00:00,2015,11,Sunday,22,Part Three,NaN,NaN,NaN,"(0.00000000, 0.00000000)"
441,I162003177,413,Aggravated Assault,ASSAULT - AGGRAVATED - BATTERY,D4,0,0,2015-12-28 17:55:00,2015,12,Monday,17,Part One,NaN,NaN,NaN,"(0.00000000, 0.00000000)"
537,I162001010,3831,Motor Vehicle Accident Response,M/V - LEAVING SCENE - PROPERTY DAMAGE,C11,0,0,2015-12-31 18:30:00,2015,12,Thursday,18,Part Three,NaN,NaN,NaN,"(0.00000000, 0.00000000)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561516,212028147,3831,unknown,M/V - LEAVING SCENE - PROPERTY DAMAGE,B2,0,0,2021-05-01 08:24:00,2021,5,Saturday,8,unknown,NaN,42.327987,-71.099354,"(42.32798700396488, -71.09935402988641)"
561529,212028130,3006,unknown,SICK/INJURED/MEDICAL - PERSON,A1,111,0,2021-05-01 03:00:00,2021,5,Saturday,3,unknown,NaN,42.352370,-71.062600,"(42.352370011853225, -71.06259996388145)"
561532,212028127,3802,unknown,M/V ACCIDENT - PROPERTY DAMAGE,B2,320,0,2021-05-01 02:33:00,2021,5,Saturday,2,unknown,NaN,42.308468,-71.083277,"(42.30846803058291, -71.08327694723572)"
582626,210209890,3115,unknown,INVESTIGATE PERSON,A1,162,0,2021-05-14 10:00:00,2021,5,Friday,10,unknown,NaN,42.347321,-71.064412,"(42.34732103019411, -71.06441203938374)"
625324,222036082,2619,unknown,FUGITIVE FROM JUSTICE,A1,0,0,2022-05-20 08:39:00,2022,5,Friday,8,unknown,NaN,42.353371,-71.054824,"(42.35337100593008, -71.05482398397082)"

In [65]:
df.head()

,incident_number,offense_code,offense_code_group,offense_description,district,reporting_area,shooting,occurred_on_date,year,month,day_of_week,hour,ucr_part,street,lat,long,location
0,I192068249,2647,Other,THREATS TO DO BODILY HARM,B2,280,0,2015-08-28 10:20:00,2015,8,Friday,10,Part Two,WASHINGTON ST,42.330119,-71.084251,"(42.33011862, -71.08425106)"
1,I192061894,1106,Confidence Games,FRAUD - CREDIT CARD / ATM FRAUD,C11,356,0,2015-08-20 00:00:00,2015,8,Thursday,0,Part Two,CHARLES ST,42.300605,-71.061268,"(42.30060543, -71.06126785)"
2,I192038828,1107,Fraud,FRAUD - IMPERSONATION,A1,172,0,2015-11-02 12:24:00,2015,11,Monday,12,Part Two,ALBANY ST,42.334288,-71.072395,"(42.33428841, -71.07239518)"
3,I192008877,1107,Fraud,FRAUD - IMPERSONATION,E18,525,0,2015-07-31 10:00:00,2015,7,Friday,10,Part Two,WINGATE RD,42.237009,-71.129566,"(42.23700950, -71.12956606)"
4,I182090828,1102,Fraud,FRAUD - FALSE PRETENSE / SCHEME,D4,159,0,2015-12-01 12:00:00,2015,12,Tuesday,12,Part Two,UPTON ST,42.342432,-71.072258,"(42.34243222, -71.07225766)"

In [66]:
#Make everything lowercase in offense code group and description
df['offense_code_group'] = df['offense_code_group'].str.lower()
df['offense_description'] = df['offense_description'].str.lower()

In [67]:
df.head()

,incident_number,offense_code,offense_code_group,offense_description,district,reporting_area,shooting,occurred_on_date,year,month,day_of_week,hour,ucr_part,street,lat,long,location
0,I192068249,2647,other,threats to do bodily harm,B2,280,0,2015-08-28 10:20:00,2015,8,Friday,10,Part Two,WASHINGTON ST,42.330119,-71.084251,"(42.33011862, -71.08425106)"
1,I192061894,1106,confidence games,fraud - credit card / atm fraud,C11,356,0,2015-08-20 00:00:00,2015,8,Thursday,0,Part Two,CHARLES ST,42.300605,-71.061268,"(42.30060543, -71.06126785)"
2,I192038828,1107,fraud,fraud - impersonation,A1,172,0,2015-11-02 12:24:00,2015,11,Monday,12,Part Two,ALBANY ST,42.334288,-71.072395,"(42.33428841, -71.07239518)"
3,I192008877,1107,fraud,fraud - impersonation,E18,525,0,2015-07-31 10:00:00,2015,7,Friday,10,Part Two,WINGATE RD,42.237009,-71.129566,"(42.23700950, -71.12956606)"
4,I182090828,1102,fraud,fraud - false pretense / scheme,D4,159,0,2015-12-01 12:00:00,2015,12,Tuesday,12,Part Two,UPTON ST,42.342432,-71.072258,"(42.34243222, -71.07225766)"

In [68]:
#Finding instances where fraud is in offense_description
df[df['offense_description'].str.contains('fraud')] #21247 rows returned

,incident_number,offense_code,offense_code_group,offense_description,district,reporting_area,shooting,occurred_on_date,year,month,day_of_week,hour,ucr_part,street,lat,long,location
1,I192061894,1106,confidence games,fraud - credit card / atm fraud,C11,356,0,2015-08-20 00:00:00,2015,8,Thursday,0,Part Two,CHARLES ST,42.300605,-71.061268,"(42.30060543, -71.06126785)"
2,I192038828,1107,fraud,fraud - impersonation,A1,172,0,2015-11-02 12:24:00,2015,11,Monday,12,Part Two,ALBANY ST,42.334288,-71.072395,"(42.33428841, -71.07239518)"
3,I192008877,1107,fraud,fraud - impersonation,E18,525,0,2015-07-31 10:00:00,2015,7,Friday,10,Part Two,WINGATE RD,42.237009,-71.129566,"(42.23700950, -71.12956606)"
4,I182090828,1102,fraud,fraud - false pretense / scheme,D4,159,0,2015-12-01 12:00:00,2015,12,Tuesday,12,Part Two,UPTON ST,42.342432,-71.072258,"(42.34243222, -71.07225766)"
5,I182090458,1107,fraud,fraud - impersonation,C11,336,0,2015-12-04 00:00:00,2015,12,Friday,0,Part Two,NORTON ST,42.306265,-71.068646,"(42.30626521, -71.06864556)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
652297,222091843,1109,unknown,fraud - wire,A1,77,0,2022-11-28 00:00:00,2022,11,Monday,0,unknown,NEW SUDBURY ST,42.361839,-71.059765,"(42.361838566564714, -71.05976489094158)"
652301,222091838,1102,unknown,fraud - false pretense / scheme,A7,28,0,2022-11-27 14:30:00,2022,11,Sunday,14,unknown,PARIS ST,42.370818,-71.039291,"(42.3708180467024, -71.03929078135145)"
652315,222091822,1106,unknown,fraud - credit card / atm fraud,C6,177,0,2022-11-25 08:00:00,2022,11,Friday,8,unknown,SOUTHAMPTON ST,42.332108,-71.070144,"(42.332108429494895, -71.07014394813551)"
652326,222091805,1102,unknown,fraud - false pretense / scheme,C11,0,0,2022-11-28 01:31:00,2022,11,Monday,1,unknown,ADAMS ST,42.272306,-71.067214,"(42.27230624022605, -71.06721386165373)"
652354,222091659,1106,unknown,fraud - credit card / atm fraud,C6,200,0,2022-11-27 00:49:00,2022,11,Sunday,0,unknown,W BROADWAY,42.341288,-71.054679,"(42.341287504390436, -71.05467932649397)"

In [69]:
# #21236 rows for fraud this way
# offense_code_fraud = df[(df['offense_code'] == 1101) | (df['offense_code'] == 1102) | (df['offense_code'] == 1103)\
# | (df['offense_code'] == 1104) | (df['offense_code'] == 1105) | (df['offense_code'] == 1106)\
# | (df['offense_code'] == 1107) | (df['offense_code'] == 1108) | (df['offense_code'] == 1109)]

In [70]:
#Lets use this to get as much fraud data out of the dataset
#6713 rows

#### This is the best, so far, going to subset this out using offense description

In [71]:
fraud_df = df[df['offense_description'].str.contains('fraud')]

In [72]:
fraud_df.info() #nulls in district and location, we will ignore those for now

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21247 entries, 1 to 652354
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   incident_number      21247 non-null  object
 1   offense_code         21247 non-null  int64
 2   offense_code_group   21247 non-null  object
 3   offense_description  21247 non-null  object
 4   district             21109 non-null  object
 5   reporting_area       21247 non-null  object
 6   shooting             21247 non-null  int64
 7   occurred_on_date     21247 non-null  object
 8   year                 21247 non-null  int64
 9   month                21247 non-null  int64
 10  day_of_week          21247 non-null  object
 11  hour                 21247 non-null  int64
 12  ucr_part             21247 non-null  object
 13  street               21166 non-null  object
 14  lat                  21049 non-null  float64
 15  long                 21049 non-null  float64
 16  location             21247 non-null  object
dtypes: float64(2), int64(5), object(10)
memory usage: 2.9+ MB

In [73]:
#Occured on date is an object, lets make it date time
fraud_df['occurred_on_date'] = pd.to_datetime(fraud_df['occurred_on_date'])
fraud_df.dtypes

/var/folders/vw/1h05rsrx3wbc05jyk4c2bl680000gn/T/ipykernel_10158/4268765055.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fraud_df['occurred_on_date'] = pd.to_datetime(fraud_df['occurred_on_date'])

incident_number                object
offense_code                    int64
offense_code_group             object
offense_description            object
district                       object
reporting_area                 object
shooting                        int64
occurred_on_date       datetime64[ns]
year                            int64
month                           int64
day_of_week                    object
hour                            int64
ucr_part                       object
street                         object
lat                           float64
long                          float64
location                       object
dtype: object

In [75]:
#Rename date column to make it easier
fraud_df.rename(columns = {'occurred_on_date':'date'}, inplace = True)

/var/folders/vw/1h05rsrx3wbc05jyk4c2bl680000gn/T/ipykernel_10158/2021758675.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fraud_df.rename(columns = {'occurred_on_date':'date'}, inplace = True)

In [78]:
fraud_df.head(2)

,incident_number,offense_code,offense_code_group,offense_description,district,reporting_area,shooting,date,year,month,day_of_week,hour,ucr_part,street,lat,long,location
1,I192061894,1106,confidence games,fraud - credit card / atm fraud,C11,356,0,2015-08-20 00:00:00,2015,8,Thursday,0,Part Two,CHARLES ST,42.300605,-71.061268,"(42.30060543, -71.06126785)"
2,I192038828,1107,fraud,fraud - impersonation,A1,172,0,2015-11-02 12:24:00,2015,11,Monday,12,Part Two,ALBANY ST,42.334288,-71.072395,"(42.33428841, -71.07239518)"

In [80]:
#remove time data as we are going to aggregate by day
fraud_df['date'] = fraud_df['date'].dt.date

/var/folders/vw/1h05rsrx3wbc05jyk4c2bl680000gn/T/ipykernel_10158/3871631486.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fraud_df['date'] = fraud_df['date'].dt.date

In [83]:
fraud_df.head(5)

,incident_number,offense_code,offense_code_group,offense_description,district,reporting_area,shooting,date,year,month,day_of_week,hour,ucr_part,street,lat,long,location
1,I192061894,1106,confidence games,fraud - credit card / atm fraud,C11,356,0,2015-08-20,2015,8,Thursday,0,Part Two,CHARLES ST,42.300605,-71.061268,"(42.30060543, -71.06126785)"
2,I192038828,1107,fraud,fraud - impersonation,A1,172,0,2015-11-02,2015,11,Monday,12,Part Two,ALBANY ST,42.334288,-71.072395,"(42.33428841, -71.07239518)"
3,I192008877,1107,fraud,fraud - impersonation,E18,525,0,2015-07-31,2015,7,Friday,10,Part Two,WINGATE RD,42.237009,-71.129566,"(42.23700950, -71.12956606)"
4,I182090828,1102,fraud,fraud - false pretense / scheme,D4,159,0,2015-12-01,2015,12,Tuesday,12,Part Two,UPTON ST,42.342432,-71.072258,"(42.34243222, -71.07225766)"
5,I182090458,1107,fraud,fraud - impersonation,C11,336,0,2015-12-04,2015,12,Friday,0,Part Two,NORTON ST,42.306265,-71.068646,"(42.30626521, -71.06864556)"

In [74]:
# #Reset index to date time
# fraud_df = fraud_df.set_index('date').sort_index()
# fraud_df

In [76]:
# #Resample on day
# fraud_df.resample('D').sum()

In [82]:
fraud_df.groupby(['date']).sum()

            offense_code  shooting   year  month  hour         lat        long
date
2015-06-15         12142         0  22165     66   115  465.506774 -782.107727
2015-06-16          9945         0  18135     54    92  380.807546 -639.660966
2015-06-17         13252         0  24180     72   167  465.418112 -782.087668
2015-06-18         13260         0  24180     72   125  507.915044 -852.707129
2015-06-19         12130         0  22165     66   120  465.477288 -781.950608
...                  ...       ...    ...    ...   ...         ...         ...
2022-12-04          5516         0  10110     60    54  169.155029 -284.381760
2022-12-05          3306         0   6066     36    31   84.636150 -142.298720
2022-12-06          4415         0   8088     48    61  169.400092 -284.318481
2022-12-07          7729         0  14154     84   103  296.240705 -497.524986
2022-12-08          2212         0   4044     24    34   42.339542  -71.069409

[2715 rows x 7 columns]